<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador de Videos de YouTube</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
    <link rel="manifest" href="/static/images/site.webmanifest" />
</head>
<body>

    <!-- 1. Encabezado -->
    <header class="header-with-bar">
        <div class="logo-title-container">
            <img src="/static/logo.png" alt="Logo de la plataforma" id="logo">
            <h1 id="site-title">Analizador de Videos de YouTube</h1>
        </div>
    </header>

    <!-- 2. Línea de separación -->
    <hr class="separator">

    <!-- 3. Contenedor principal -->
    <section class="main-container">

        <!-- 3.1. Columna izquierda -->
        <div class="left-column">
            <form id="analyze-form">
                <label for="video-url">Introduce la URL del video de YouTube:</label>
                <input type="text" id="video-url" placeholder="https://www.youtube.com/watch?v=6kkNjduVlbY" required>
                <button type="submit" id="analyze-button">Analizar</button>
            </form>
            <div id="loader" class="loader-container" style="display: none;">
                <div class="loader"></div>
                <p>Analizando... Por favor espera.</p>
            </div>
            <div id="results">
                <h2>Información del Video</h2>
                <div class="section">
                    <h3>Información General del Video:</h3>
                    <p><strong>Título:</strong> <span id="video-title"></span></p>
                    <p><strong>Fecha de publicación:</strong> <span id="video-published"></span></p>
                    <p><strong>Canal:</strong> <span id="video-channel"></span></p>
                    <p><strong>Likes:</strong> <span id="video-likes"></span></p>
                    <p><strong>Visualizaciones:</strong> <span id="video-views"></span></p>
                </div>
                <div class="button-container">
                    <button class="toggle-btn" onclick="toggleSection('video-table')">Mostrar/Ocultar Características del Video</button>
                    <button class="toggle-btn" onclick="toggleSection('audio-table')">Mostrar/Ocultar Características del Audio</button>
                </div>
                <div id="tables-container" class="section">
                    <div style="overflow-x: auto;">
                        <table id="video-table" class="analysis-table" style="display: none;">
                            <thead>
                                <tr><th colspan="2">Características del Video</th></tr>
                            </thead>
                            <tbody id="video-analysis"></tbody>
                        </table>
                    </div>
                    <div style="overflow-x: auto;">
                        <table id="audio-table" class="analysis-table" style="display: none;">
                            <thead>
                                <tr><th colspan="2">Características del Audio</th></tr>
                            </thead>
                            <tbody id="audio-analysis"></tbody>
                        </table>
                    </div>
                </div>
                <div class="section">
                    <h3>Resumen de Comentarios:</h3>
                    <ul id="comments-list"></ul>
                </div>
            </div>
        </div>

        <!-- 3.2. Columna derecha -->
        <div class="right-column">
            <h2>Análisis del Video</h2>
            <div class="section">
                <h3>Análisis Técnico:</h3>
                <div id="analysis-result"></div>
            </div>
            <div class="section">
                <h3>Análisis de Comentarios:</h3>
                <div id="comments-analysis-result"></div>
            </div>
        </div>

    </section>

    <!-- 4. Botón modo oscuro -->
    <button id="dark-mode-toggle" class="floating-dark-mode-btn">🌙 Modo Oscuro</button>

    <!-- 5. Mensaje de error -->
    <div id="errorModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>¡Ups! Algo salió mal</h2>
            <p id="modal-message" class="modal-message">La URL proporcionada no es válida. Por favor, introduce un enlace de YouTube válido.</p>
            <button id="modal-ok-btn">Aceptar</button>
        </div>
    </div>

    <!-- 6. Pie de página -->
    <footer>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('terminos') }}" class="terms-btn">Términos y Política de Privacidad</a>
        </div>
        <p>&copy; 2024 Analizador de Videos</p>
    </footer>
    

    <!-- 7. Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/script.js"></script>

</body>
</html>
